<!--  This file is app/views/movies/index.html.erb -->
<p style="color: green"><%= notice %></p>

<%#  Part 2: Start here... %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
